[Unit]
Description=Bluetooth MQTT gateway
Documentation=https://github.com/zewelor/bt-mqtt-gateway
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/bt-mqtt-gateway
ExecStart=/home/user/bt-mqtt-gateway/service.sh
Restart=always

[Install]
WantedBy=multi-user.target
